<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is a home page</title>
</head>
<body>
<section >
    <div>
        <h1 class="front-weight-bold">Smart Contact manager</h1>
        <p>
            Start Collecting your Contacts in very Smart way. we provide
            very efficient and smarter way of handing contacts.
        </p>
        <button class="btn bg-primary btn-lg">Get Start</button>
    </div>
</section>
</body>
</html>